<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="./chat.css">
  <meta charset="utf-8">
  <title>Join | ChatApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body class="centered-form">
  <div class="centered-form__form">
    <form id="login">

      <div class="form-field">
        <h3>Login</h3>
      </div>
      <div class="form-field">
        <label for="username">username</label>
        <input type="text" name="username" autofocus>
      </div>
      <div class="form-field">
        <label for="password">password</label>
        <input type="password" name="password">
      </div>
      <div class="form-field">
        <button>Login</button>
        <a href="/signup">no account? signup here</a>
      </div>
    </form>
  </div>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./util.js"></script>
  <script src="./deparam.js"></script>
  <script src="./login.js"></script>

</body>

</html>