<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="./chat.css">
  <meta charset="utf-8">
  <title>Join | ChatApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body class="centered-form">
  <div class="centered-form__form">
    <form id="signup">

      <div class="form-field">
        <h3>Signup</h3>
      </div>
      <div class="form-field">
        <label for="name">username</label>
        <input type="text" name="name" autofocus>
      </div>
      <div class="form-field">
        <label for="email">email</label>
        <input type="text" name="email">
      </div>
      <div class="form-field">
        <label for="room">password</label>
        <input type="password" name="password">
      </div>
      <div class="feedback"></div>
      <div class="form-field">
        <button>Join</button>
        <a href="/login">already have an account? login here</a>
      </div>
    </form>
  </div>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="util.js"></script>
  <script src="signup.js"></script>
</body>

</html>