button,
button:hover {
    border: none;
    color: #fff;
    padding: 10px
}

.chat__messages,
.chat__sidebar ul {
    list-style-type: none
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem
}

li,
ul {
    list-style-position: inside
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem
}

button {
    background: #265f82;
    cursor: pointer;
    transition: background .3s ease
}

button:hover {
    background: #1F4C69
}

button:disabled {
    cursor: default;
    background: #698ea5
}

.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%)
}

.centered-form__form {
    background: rgba(250, 250, 250, .9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px;
    width: 320px
}

.form-field {
    margin: 20px 0
}

.form-field>* {
    width: 100%
}

.form-field label {
    display: block;
    margin-bottom: 7px
}

.form-field input,
.form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px
}

.chat {
    display: flex
}

.chat__sidebar {
    z-index: 1;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
    width: 260px;
    height: 100vh;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%)
}

.chat__footer,
.chat__sidebar li {
    background: #e6eaee;
    padding: 10px
}

.chat__sidebar h3 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left
}

.chat__sidebar li {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 10px
}

.chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%
}

.chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px
}

.chat__footer {
    position: relative;
    display: flex;
    flex-shrink: 0
}

.chat__footer form {
    flex-grow: 1;
    display: flex
}

.chat__footer form * {
    margin-right: 10px;
}

.chat__footer form input {
    margin-left: 10px;
    border-radius: 20px;
}

#menu-button img {
    width: 65%;
}

#cancel-reply {
    background-color: transparent;
}

#close img,
#cancel-reply img,
.small-img {
    height: 1rem;
}

.dropdown .small-img {
    height: 1.5rem;
}

#cancel-reply img {
    margin-right: 0px;
}

.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1
}

.message {
    padding: 5px;
    padding-left: 10px;
    background-color: #e6eaee;
    border-radius: 9px;
    margin: 5px;
    max-width: 80%;
    box-shadow: 3px 3px 3px lightgray;
}

.message:hover {
    background-color: #f6faff;
}

.message__title {
    display: flex;
    margin-bottom: 5px
}

.message__title h4 {
    font-weight: 600;
    margin-right: 10px
}

.message__title span {
    color: #999
}

@media (max-width:600px) {
    * {
        font-size: 1rem
    }

    .chat__sidebar {
        /* display: none */
        max-width: 0px;
        position: absolute;
    }

    .chat__footer {
        flex-direction: column
    }

    .chat__footer button {
        margin-right: 0
    }
}


li.sent .message .message__body > p.wrap::after {
    content: '\2713';
    color: blue;
    float: right;
    margin: 0px 0px 0px 5px;
}

li.received .message .message__body > p.wrap::after {
    content: '\2714';
    color: green;
    float: right;
    margin: 0px 0px 0px 5px;
}

li[id=""].pending .message .message__body > p.wrap::after {
    content: '\2755';
    color: #900;
    background: red;
    border-radius: 3px;
    float: right;
    margin: 0px 0px 0px 5px;
}


.reply {
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}

.quoted {
    background-color: rgb(202, 202, 202);
    display: inline-block;
    border: thin solid rgb(202, 202, 202);
    border-radius: 9px;
    padding: 5px;
    margin-left: 5%;
    margin-top: 5px;
    width: 95%;
    box-shadow: 1px 1px 3px gray;
}

.chat__messages li {
    display: flex;
}

.chat__messages li.me {
    justify-content: flex-end;
}

.highlighted,
.highlighted:hover,
li.highlighted {
    background-color: #337ba867;
    border-radius: 10px;
    /* background-color: rgb(202, 202, 202, 0.5); */
}

#users .highlighted {
    color: white;
}

.no-show {
    display: none
}

.show {
    display: block
}

.wrap {
    word-wrap: break-word;
}

.reply-highlight {
    color: #999;
}

.dropdown {
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown .show.dropdown-content {
    display: block;
}

#add-friend,
#friend-form {
    max-width: 100%;
}

#fri-txt {
    max-width: 69%;
}

#add-button {
    max-width: 30%;
}

#users ul li {
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.alert {
    color: red;
}