@media screen and (min-width: 600.1px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .mobile {
        display: inline-block;
    }
}

.chat__sidebar h3 {
    display: inline-block;
}

#close {
    cursor: pointer;
}

#side.shown-for-mobile {
    position: absolute;
    display: block;
}

#add-friend input,
#add-friend button {
    margin-left: 0px;
}

.emojis {
    height: 150px;
    overflow: scroll;
}

.emojis span {
    font-size: 2rem;
}

#emoji-button {
    background-color: transparent;
    padding: 0px;
    margin-left: 10px;
    font-size: 2rem;
}

#my-emojis {
    display: none;
}

#my-emojis * {
    cursor: pointer;
}

#my-emojis.show {
    display: block;
}